<%- include('partials/header') %>

<h1>waterfall</h1>

<p class="text">never been, vaguely remember someone wanting to build a powerstation on it</p>
<img src="/images/gullfoss.jpg" alt="gullfoss">

<%- include('partials/footer') %>